.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;  // Занимает всю высоту родительского контейнера
  width: 100%;  // Занимает всю ширину
}

.list {
  display: flex;
  flex-wrap: wrap; // Перенос карточек на следующую строку
  justify-content: flex-start; // Карточки выравниваются по левому краю
  align-items: flex-start; // Карточки начинаются с верхнего края
  gap: 20px; // Расстояние между карточками
  padding: 0; // Убираем лишние отступы
  box-sizing: border-box; // Учитываем padding в размерах
}

.noMaterials {
  position: absolute;         // Абсолютное позиционирование
  top: 50%;                    // Центрируем по вертикали
  left: 45%;                   // Центрируем по горизонтали
  transform: translate(-50%, -50%);  // Корректируем для точного центрирования
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #888;
  font-weight: bold;
}

.noMaterials .emoji {
  font-size: 40px;
  margin-bottom: 10px;
}