.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  min-width: var(--block-min-width);
  background: var(--block-bg-color);
  border-radius: var(--block-border-radius);
  padding: var(--block-padding);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-eb);
  text-align: center;
  color: var(--black-font-color);
}

.list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.list li {
  padding: var(--competency-padding);
  margin: 5px 0;
  background: var(--default-ph-bg-color);
  cursor: pointer;
  border-radius: var(--competency-border-radius);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.list li:hover {
  background: var(--material-list-holder-bg-color);
}

.selected {
  background: var(--material-list-item-bg-color) !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}



