.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Разделяем текст и кнопку */
  background-color: var(--white-font-color);
  padding: 10px;
  border: var(--default-border);
  border-radius: var(--competency-border-radius);
  margin-bottom: 8px;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(216, 27, 96, 0.3);

    .trashButton {
      opacity: 1; /* Показывать кнопку только при наведении */
    }
  }
}

.wrapper:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Эффект наведения */
}

.competency {
  font-size: var(--font-size-m);
}


.trashButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 12px;
  opacity: 0;
  top: 0;
  transition: opacity 0.2s ease, transform 0.2s;
}

.trashButton img {
  width: 24px; /* Подстраиваем под размер корзины */
  height: 24px;
}

.trashButton:hover {
  transform: scale(1.2);
}

