.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  transition: box-shadow 0.2s ease;
  border-radius: 4px;
}



.competency {
  background-color: var(--white-font-color);
  border: var(--default-border);
  border-radius: var(--competency-border-radius);

  width: var(--competency-width);
  padding: var(--competency-padding);

  font-size: var(--font-size-m);
  transition: box-shadow 0.2s ease;
}

.competency:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

