/* Стили для элемента управления списком материалов */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Поле поиска */
.input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #D8E1EF;
  font-size: 14px;
  color: #000000;
}

.input:focus {
  outline: none;
  border-color: #F91F71; /* Основной красный цвет */
  box-shadow: 0 0 4px rgba(249, 31, 113, 0.3);
}





