.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
}

.inner {
  min-width: 960px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.editButton {
  background-color: #F91F71; /* Розовый цвет кнопки */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}