.wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: var(--default-bg-color);
  border-radius: var(--default-border-radius);
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 10px;
}

.tooltipIcon {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  background-color: #FFE3EC; // мягкий розовый фон
  color: #D6336C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;

  font-weight: bold;
  user-select: none;
  transition: background-color 0.3s ease;
}

.tooltipIcon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #9CA3AF
;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 13px;
  z-index: 10;
  opacity: 1;
  pointer-events: none;

  white-space: normal;
  max-width: 280px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #f5c6cb;
}

.tooltipIcon:hover::before {
  content: '';
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.wrapperCompetency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-font-color);
  padding: 10px;
  border: var(--default-border);
  border-radius: var(--competency-border-radius);
  margin-bottom: 8px;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(216, 27, 96, 0.3);

    .deleteButton {
      opacity: 1;
    }
  }
}

.wrapperCompetency:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.competency {
  font-size: var(--font-size-m);
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 12px;
  opacity: 0;
  top: 0px;
  transition: opacity 0.2s ease, transform 0.2s;

  &:hover {
    transform: scale(1.2);
    color: #ff0000;
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Отделить текст от кнопки */
  width: 100%; /* Чтобы элементы заняли всю ширину */
}

.trashButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 12px;
  opacity: 0;
  top: 0;
  transition: opacity 0.2s ease, transform 0.2s;
}

.trashButton img {
  width: 24px; /* Подстраиваем под размер корзины */
  height: 24px;
}

.trashButton:hover {
  transform: scale(1.2);
}

.wrapperCompetency:hover .trashButton {
  opacity: 1; /* Показываем кнопку при наведении на wrapperCompetency */
}

.addCompetencyButton {
  margin-top: 20px;
  background-color: #F91F71;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}