.wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: var(--default-bg-color);
  border-radius: var(--default-border-radius);
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tooltipIcon {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  background-color: #FFE3EC; // мягкий розовый фон
  color: #D6336C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;

  font-weight: bold;
  user-select: none;
  transition: background-color 0.3s ease;
}

.tooltipIcon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #9CA3AF
;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 13px;
  z-index: 10;
  opacity: 1;
  pointer-events: none;

  white-space: normal;
  max-width: 280px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #f5c6cb;
}

.tooltipIcon:hover::before {
  content: '';
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Отступ между полями */
   /* Максимальная высота формы */
  overflow-y: hidden; /* Вертикальная прокрутка */
  overflow-x: hidden;
  padding-right: 10px; /* Отступ для скролла */
}

label:first-of-type {
  margin-top: 10px; /* Отступ сверху у первого поля */
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Отступ между label и вложенным элементом */
  margin-bottom: 10px;
}

.addCompetencyButton {
  margin-top: 20px;
  background-color: #F91F71;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addCompetencyButton:hover {
  background-color: #db3070;
}